@page
@model Szorzotabla.Pages.FelhasznaloModel
@{
}
<h1>Felhasználó</h1>
<h2>Új felhasználó felvétele</h2>
<form method="post">
    <input type="text" name="nev" />
    <input type="email" name="email" />
    <input type="number" name="szulev" value="2000"/>
    <input type="submit" />
</form>

